.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 182, 182);
    width: 100%;
}

.footer-text{
    color: white;
}
